<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>教育</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="shortcut icon" href="../../resources/images/favicon.ico"
			th:href="@{/resources/images/favicon.ico}"/>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../../../resources/css/bootstrap.min.css"
			th:href="@{/resources/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../../resources/css/docs.min.css"
			th:href="@{/resources/css/docs.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../../resources/css/customer.css"
			th:href="@{/resources/css/customer.css}"/>

	<script type="text/javascript" src="../../../resources/js/jquery.min.js"
			th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="text/javascript" src="../../../resources/js/jquery.cookie.js"
			th:src="@{/resources/js/jquery.cookie.js}"></script>
	<script type="text/javascript" src="../../../resources/js/bootstrap.min.js"
			th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../../../resources/js/holder.min.js"
			th:src="@{/resources/js/holder.min.js}"></script>
</head>

<body>
<div th:replace="nav_header :: navHeader">nav header</div>
<div class="container">
	<div class="row">
		<blockquote class="text-error page-header">
			推荐菜谱
			<a href="#pre-pregnant"><span class="label label-default">备孕</span></a>
			<a href="#pregnant"><span class="label label-primary">怀孕</span></a>
			<a href="#deliver"><span class="label label-success">分娩</span></a>
			<a href="#confinement"><span class="label label-info">月子</span></a>
			<a href="#newborn"><span class="label label-warning">新生儿</span></a>
			<a href="#firstyear"><span class="label label-danger">宝贝一岁啦!</span></a>
		</blockquote>
	</div>

	<div class="row">
		<h3 id="pre-pregnant" class="page-header">0-1岁</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src=""
							style="width: 120px; height: 90px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">花胶凤爪汤 皮肤Q起来</h4></a>
				孕期吃什么？胃口不好的时候吃什么？让宝宝健康的食物是什么？怀胎食月 将带给你不一样的孕期饮食。花胶沙参凤爪营养汤，多种药材珍品，让你的孕期美美哒！
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src=""
							style="width: 120px; height: 90px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">苦瓜鸡蛋泥消暑开胃</h4></a>
				炎热的夏季应该给宝宝吃些什么呢？消暑开胃的苦瓜鸡蛋泥就是一个不错的选择，苦瓜清热解暑，鸡蛋营养丰富，清凉的口感让宝宝胃口大开，元气upupup~下面就来看看麻麻微视频和吖咪合作推出的《辅食记》之苦瓜鸡蛋泥吧，轻松get美味辅食，还宝宝清凉一夏！
			</div>
		</div>

		<h3 id="pregnant" class="page-header">1-3岁</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201503/20150321/001838_41480.jpg"
							style="width: 120px; height: 90px"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">宝宝你再等等 妈妈刚住新房不敢怀孕!</h4></a>
				你一定和我一样听过“80%以上的白血病患儿家里6个月内装修过”这样的话吧，不管你信不信，反正我是信了。我和老公10月份结婚，过年前才入住新房，当时装修好只晾了一个月就急着搬了进去，尽量选的都是环保材料，倒是没什么味道，但想到要生宝宝，心里还是有些担心，不确定到底对胎儿有没有影响。因为结婚的时候没有赶上住自己家新房，总想在属于我们自己的房子里生下宝宝。我和老公年龄也都不小了，又很想在30岁之前迎接宝宝，感觉走在了人生的岔路口，做哪个决定都很艰难……
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://imgs.mama.cn/attachment/pic/all/20121129/1354182616_99304.jpg"
							style="width: 120px; height: 90px"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">贵妇型月子会所 你要不要去住？</h4></a>
				这是一位在月子会所坐月子的妈妈的月子日记，所以想去月子会所坐月子的准妈妈们可以听听她的建议哦。
			</div>
		</div>

		<h3 id="deliver" class="page-header">幼儿园</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://imgs.mama.cn/attachment/pic/all/20130802/1375434807_51739.jpg"
							style="width: 120px; height: 90px"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">分娩时住在医院里应该注意些什么</h4></a>
				随着预产期的到来，许多孕妇最关心的一个问题是：需要多长时间才能把孩子生下来？产程的长短因人而异，由很多因素决定，具体是很难预计一个人分娩会持续多长时间的。
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src=""
							style="width: 120px; height: 90px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">苦瓜鸡蛋泥消暑开胃</h4></a>
				炎热的夏季应该给宝宝吃些什么呢？消暑开胃的苦瓜鸡蛋泥就是一个不错的选择，苦瓜清热解暑，鸡蛋营养丰富，清凉的口感让宝宝胃口大开，元气upupup~下面就来看看麻麻微视频和吖咪合作推出的《辅食记》之苦瓜鸡蛋泥吧，轻松get美味辅食，还宝宝清凉一夏！
			</div>
		</div>

		<h3 id="confinement" class="page-header">小学1-3年级</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src=""
							style="width: 120px; height: 90px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">花胶凤爪汤 皮肤Q起来</h4></a>
				孕期吃什么？胃口不好的时候吃什么？让宝宝健康的食物是什么？怀胎食月 将带给你不一样的孕期饮食。花胶沙参凤爪营养汤，多种药材珍品，让你的孕期美美哒！
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src=""
							style="width: 120px; height: 90px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">苦瓜鸡蛋泥消暑开胃</h4></a>
				炎热的夏季应该给宝宝吃些什么呢？消暑开胃的苦瓜鸡蛋泥就是一个不错的选择，苦瓜清热解暑，鸡蛋营养丰富，清凉的口感让宝宝胃口大开，元气upupup~下面就来看看麻麻微视频和吖咪合作推出的《辅食记》之苦瓜鸡蛋泥吧，轻松get美味辅食，还宝宝清凉一夏！
			</div>
		</div>

		<h3 id="newborn" class="page-header">小学4-6年级</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201601/20160112/091316_63901_w200_h110.jpg"
							style="width: 120px; height: 90px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">孩子到陌生环境爱哭闹怎么回事？</h4></a>
				儿子6个半月，平时由我一个人带，每周带他下楼玩一两次，每次1小时左右。上周带他去我弟弟那儿，他老是哭闹不已，一直要我抱着。请问专家：这是由于我带孩子出门玩的次数太少吗？我看过一些关于早教方面的书籍，说是1.5~2岁是培养宝宝社交能力的黄金时期，现在宝宝是社交能力不强的表现吗？应该注意些什么呢？
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://imgs.mama.cn/attachment/pic/all/20130106/1357452996_28962.png"
							style="width: 120px; height: 90px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">妈妈经验 让宝宝乖乖分床睡</h4></a>
				跟小孩分床睡，这问题看似很小，但确实让不少父母伤透脑筋。该不该跟宝宝分床睡以及何时开始分床睡，应具体问题具体分析。
			</div>
		</div>

		<h3 id="firstyear" class="page-header">初中</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://imgs.mama.cn/attachment/pic/yahoo/20110818/1313647671_37035.png"
							style="width: 120px; height:90px"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">自我独立天地 让孩子居住在童话世界</h4></a>
				记得有位名作家说过：童年的记忆大多是对视觉色彩的印象。对于不断成长的孩子来说，拥有一个灵活舒适的色彩空间，选用一套精心为儿童设计的家具，的确有益于开发孩子对视觉艺术的想象力和创造力。良好的环境有益于孩子的健康成长，父母的关爱、温馨的居室氛围对儿童不可或缺，而色彩家具是营造这种环境的视觉艺术。让孩子拥有自己的五彩缤纷家具，成长快乐，放飞人生。
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://imgs.mama.cn/attachment/pic/all/20121118/1353244807_62388.jpg"
							style="width: 120px; height: 90px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">孩子的学习与娱乐</h4></a>
				总所周知， 现在的孩子学习压力都是很大的，每天回到家还要不断地写作业、看书。看不完的书，做不完的作业!
			</div>
		</div>
	</div>
</div>
<div th:replace="nav_footer :: navFooter">nav footer</div>
</body>
</html>
