<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" href="../resources/images/favicon.ico"
          th:href="@{/resources/images/favicon.ico}"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/docs.min.css"
          th:href="@{/resources/css/docs.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/customer.css"
          th:href="@{/resources/css/customer.css}"/>

    <script type="text/javascript" src="../../resources/js/jquery.min.js"
            th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" src="../../resources/js/jquery.cookie.js"
            th:src="@{/resources/js/jquery.cookie.js}"></script>
    <script type="text/javascript" src="../../resources/js/bootstrap.min.js"
            th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../../resources/js/holder.min.js"
            th:src="@{/resources/js/holder.min.js}"></script>
</head>

<body>
<div th:replace="nav_header :: navHeader">nav header</div>
<script type="text/javascript" src="../../resources/js/biz/home.js"></script>
<div class="container">
	<div class="row">
		<blockquote class="text-error page-header">
			推荐菜谱
			<a href="#pre-pregnant"><span class="label label-default">备孕</span></a>
			<a href="#pregnant"><span class="label label-primary">怀孕</span></a>
			<a href="#deliver"><span class="label label-success">分娩</span></a>
			<a href="#confinement"><span class="label label-info">月子</span></a>
			<a href="#newborn"><span class="label label-warning">新生儿</span></a>
			<a href="#firstyear"><span class="label label-danger">宝贝一岁啦!</span></a>
		</blockquote>
	</div>

    <div class="row center-block">
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a><h4 class="text-center single-line">美国科学冬令营在广州首次开营</h4></a>
                <img class="img-rounded"
                     alt="300x200"
                     data-holder-rendered="true"
                     src="http://cdn.activity.mama.cn/FvOjQKEj8k_DUa4TkoBMIdQ99ay9?imageMogr2/crop/!464x344a93a51/thumbnail/270x200"
                     style="width: 300px; height: 200px;"/>
                <div class="caption">
                    <p class="single-line">时间：1月25日 08:30 - 1月30日 14:00</p>
                    <p class="single-line">地点：白云区国际源泉社区</p>
                    <p class="single-line">发起：耕远教育</p>
                    <p class="single-line">类型：【企业活动】 亲子活动</p>
                    <p><span class="red">1 </span>人已报名 / <span class="green">1246 </span>人感兴趣</p>
                    <p><a href="#" class="btn btn-primary">我要报名</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a><h4 class="text-center single-line">首家高科技儿童乐园邀你玩！！</h4></a>
                <img class="img-rounded"
                     alt="300x200"
                     src="http://cdn.activity.mama.cn/FtI0ap1Z2dQOGHwBqZ_CWvtrtE1E?imageMogr2/crop/!512x379a47a0/thumbnail/270x200"
                     style="width: 300px; height: 200px;"/>
                <div class="caption">
                    <p class="single-line">时间：1月05日 12:00 - 1月17日 18:30</p>
                    <p class="single-line">地点：江燕路·万科里（地铁2号线江泰路C出口）</p>
                    <!-- <p>费用：免费</p> -->
                    <p class="single-line">发起：童游亲子营</p>
                    <p class="single-line">类型：【企业活动】 亲子活动</p>
                    <p><span class="red">15 </span>人已报名 / <span class="green">1490 </span>人感兴趣</p>
                    <p><a href="#" class="btn btn-primary">我要报名</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a><h4 class="text-center single-line">2016新年东北赏雪疯玩亲子欢乐营</h4></a>
                <img class="img-rounded"
                     alt="300x200"
                     src="http://cdn.activity.mama.cn/FrEbCPB3-IqyxD-fTsxKncDwFyqS?imageMogr2/crop/!605x449a95a0/thumbnail/270x200"
                     style="width: 300px; height: 200px;"/>
                <div class="caption">
                    <p class="single-line">时间：1月24日 08:00 - 2月01日 18:00</p>
                    <p class="single-line">地点：详细地址</p>
                    <!-- <p>费用：免费</p> -->
                    <p class="single-line">发起：小鸡仔仔</p>
                    <p class="single-line">类型：【网友活动】 亲子活动</p>
                    <p><span class="red">0 </span>人已报名 / <span class="green">2827 </span>人感兴趣</p>
                    <p><a href="#" class="btn btn-primary">我要报名</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a><h4 class="text-center single-line">小小地球，大大世界！</h4></a>
                <img class="img-rounded"
                     alt="300x200"
                     src="http://cdn.activity.mama.cn/FvcwmOb6FrJT_0Bnmh4JLxmLAtk_?imageMogr2/crop/!270x200a0a0/thumbnail/270x200"
                     style="width: 300px; height: 200px;"/>
                <div class="caption">
                    <p class="single-line">时间：1月17日 14:30-17:00</p>
                    <p class="single-line">地点：中山七路51号富邦中心三楼312-313号天才宝贝</p>
                    <!-- <p>费用：免费</p> -->
                    <p class="single-line">发起：天才宝贝&amp;小小地球</p>
                    <p class="single-line">类型：【企业活动】 亲子活动</p>
                    <p><span class="red">1 </span>人已报名 / <span class="green">109 </span>人感兴趣</p>
                    <p><a href="#" class="btn btn-primary">我要报名</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a><h4 class="text-center single-line">妈妈网第107期爬行比赛</h4></a>
                <img class="img-rounded"
                     alt="300x200"
                     src="http://cdn.activity.mama.cn/FnXCdkBLvK0C2s9oHjlQsXHffUwx?imageMogr2/crop/!270x200a0a0/thumbnail/270x200"
                     style="width: 300px; height: 200px;"/>
                <div class="caption">
                    <p class="single-line">时间：1月17日 14:30-16:00</p>
                    <p class="single-line">地点：珠江新城花城大道84号高德汇1座3楼中庭处</p>
                    <!-- <p>费用：免费</p> -->
                    <p class="single-line">发起：妈妈网</p>
                    <p class="single-line">类型：【妈网官方】 亲子活动</p>
                    <p><span class="red">0 </span>人已报名 / <span class="green">74 </span>人感兴趣</p>
                    <p><a href="#" class="btn btn-primary">我要报名</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a><h4 class="text-center single-line">华师附外“茶•相”活动</h4></a>
                <img class="img-rounded"
                     alt="300x200"
                     src="http://cdn.activity.mama.cn/Fmaq0Gjv6biZVu0i1d5nIzFaZHpk?imageMogr2/crop/!269x199a431a0/thumbnail/270x200"
                     style="width: 300px; height: 200px;"/>
                <div class="caption">
                    <p class="single-line">时间：1月17日 09:30-16:00</p>
                    <p class="single-line">地点：科学城科学大道2号</p>
                    <!-- <p>费用：免费</p> -->
                    <p class="single-line">发起：陈丽纯</p>
                    <p class="single-line">类型：【企业活动】 亲子活动</p>
                    <p><span class="red">2 </span>人已报名 / <span class="green">434 </span>人感兴趣</p>
                    <p><a href="#" class="btn btn-primary">我要报名</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a><h4 class="text-center single-line">黄埔军校训练一天体验营</h4></a>
                <img class="img-rounded"
                     alt="300x200"
                     src="http://cdn.activity.mama.cn/Fj24ML5DYLMqH1vQ_0Tnl10qSAC5?imageMogr2/crop/!854x632a0a8/thumbnail/270x200"
                     style="width: 300px; height: 200px;"/>
                <div class="caption">
                    <p class="single-line">时间：1月17日 09:00-17:00</p>
                    <p class="single-line">地点：黄埔青少年军校</p>
                    <!-- <p>费用：免费</p> -->
                    <p class="single-line">发起：lanen</p>
                    <p class="single-line">类型：【网友活动】 亲子活动</p>
                    <p><span class="red">1 </span>人已报名 / <span class="green">465 </span>人感兴趣</p>
                    <p><a href="#" class="btn btn-primary">我要报名</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a><h4 class="text-center single-line">【合生校】大圣归来之勇敢的心</h4></a>
                <img class="img-rounded"
                     alt="300x200"
                     src="http://cdn.activity.mama.cn/FnWmvjiqbzRB-JcSLJIKmNLESFkr?imageMogr2/crop/!4583x3394a0a0/thumbnail/270x200"
                     style="width: 300px; height: 200px;"/>
                <div class="caption">
                    <p class="single-line">时间：1月16日 16:00-17:00</p>
                    <p class="single-line">地点：叠景路223-227号247-251号（单）自编三层304、308（合生广场北区三楼）</p>
                    <!-- <p>费用：免费</p> -->
                    <p class="single-line">发起：全优+芬兰探索式早教</p>
                    <p class="single-line">类型：【企业活动】 亲子活动</p>
                    <p><span class="red">2 </span>人已报名 / <span class="green">323 </span>人感兴趣</p>
                    <p><a href="#" class="btn btn-primary">我要报名</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a><h4 class="text-center single-line">备孕那点事儿（第二讲）</h4></a>
                <img class="img-rounded"
                     alt="300x200"
                     src="http://cdn.activity.mama.cn/FpC86t6bdnBS_Rr_UE7PR1mIuLKS?imageMogr2/crop/!258x191a72a0/thumbnail/270x200"
                     style="width: 300px; height: 200px;"/>
                <div class="caption">
                    <p class="single-line">时间：1月16日 14:30-16:00</p>
                    <p class="single-line">地点：宝岗路39号南北广场4楼海珠区图书馆多功能厅阿斯顿发送到</p>
                    <!-- <p>费用：免费</p> -->
                    <p class="single-line">发起：海珠区图书馆</p>
                    <p class="single-line">类型：【企业活动】 亲子活动</p>
                    <p><span class="red">1 </span>人已报名 / <span class="green">83 </span>人感兴趣</p>
                    <p><a href="#" class="btn btn-primary">我要报名</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <a><h4 class="text-center single-line">1.16&amp;17顺德碧桂园看房团</h4></a>
                <img class="img-rounded"
                     alt="300x200"
                     src="http://cdn.activity.mama.cn/FnlSXpyRguG2K9UruO1H8QHBjELL?imageMogr2/crop/!324x240a0a0/thumbnail/270x200"
                     style="width: 300px; height: 200px;"/>
                <div class="caption">
                    <p class="single-line">时间：1月16日 12:30 - 1月17日 18:00</p>
                    <p class="single-line">地点：顺德碧桂园销售中心</p>
                    <!-- <p>费用：免费</p> -->
                    <p class="single-line">发起：妈妈网</p>
                    <p class="single-line">类型：【妈网官方】 房产家居</p>
                    <p><span class="red">11 </span>人已报名 / <span class="green">148 </span>人感兴趣</p>
                    <p><a href="#" class="btn btn-primary">我要报名</a> <a href="#" class="btn">Action</a></p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="carousel">
    <p th:text="'Hello, ' + ${name} + '!'"/>
    <li th:each="plugin : ${plugins}" th:text="${plugin.name}"></li>
</div>
<div th:replace="nav_footer :: navFooter">nav footer</div>

</body>
</html>
