<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>百科条目</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="shortcut icon" href="../../resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../../../resources/css/bootstrap.min.css"
			th:href="@{/resources/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../../resources/css/docs.min.css"
			th:href="@{/resources/css/docs.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../../resources/css/customer.css"
			th:href="@{/resources/css/customer.css}"/>

	<script type="text/javascript" src="../../../resources/js/jquery.min.js"
			th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="text/javascript" src="../../../resources/js/jquery.cookie.js"
			th:src="@{/resources/js/jquery.cookie.js}"></script>
	<script type="text/javascript" src="../../../resources/js/bootstrap.min.js"
			th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../../../resources/js/holder.min.js"
			th:src="@{/resources/js/holder.min.js}"></script>
</head>
<body>
<div th:replace="nav_header :: navHeader">nav header</div>
<div class="container">
	<div class="row">

		<div class="col-sm-2 col-md-2"></div>

		<div class="col-sm-7 col-md-7">
			<h3 class="text-center page-header">胸透能检查出肺癌吗</h3>
			<div class="content" style="font-size: 14px;">
				<p style="text-align:center;">
					<img src="http://pics.mama.cn/attachment/bk/con_pic/20140921/1411298695_67106.jpg" alt=""/>
				</p>
				<p>很多人都认为胸透可以检查出肺癌，而专家告诉我们，通过胸透检查出肺癌是十分不容易的。即便每年一次的常规体检，胸透检查也不见得能检查出肺癌。 </p>
				<p>这是因为早期肺癌阴影是比较小的，而普通的胸透检查只能看出比较明显的病变，一些比较小的病灶是无法看的很清楚的。 </p>
				<p>一般建议40岁以上、常年吸烟、有肿瘤家族史的肺癌高危人群每年做一次低剂量的螺旋CT，螺旋CT分辨非常高，小于4毫米结晶也能够被发现。 </p>
				<p>由此可见，我们不能寄希望于常规的胸透检查，即便是单位组织的每年一次的体检，也不一定能够检查出肺癌，因为它并不是防癌体检，只是一个健康体检。不过当肺部有了十分明显的病变时，是可以检查出来的。 </p>
			</div>
		</div>

		<div class="col-sm-3 col-md-3" style="background-color: #00AA88">

			<div class="bs-docs-sidebar affix" style="width: 300px; list-style: none; margin-top: 44px;">

				<div class="media" style="padding: 5px">
					<div class="media-left">
						<a href="#">
							<img class="media-object" data-holder-rendered="true"
									src="http://pics.mama.cn/attachment/mamacn/images/201509/20150917/160842_69667_w120_h90.jpg"
									style="width: 120px; height: 90px;"/>
						</a>
					</div>
					<div class="media-body">
						<a><h6 class="media-heading">宝宝患哮喘，原因竟</h6></a>
						<p>刚入秋，2岁的明明就陷入了“换季生病”的怪圈，咳嗽、气</p>
					</div>
				</div>

				<ul class="foodList" id="baby_food">
					<li><a href="javascript:void(0);"><img src="http://static.mama.cn/std/images/food/03.png" id="4"
							onclick="show_type_food(4)"/></a></li>
					<li><a href="javascript:void(0);"><img src="http://static.mama.cn/std/images/food/06.png" id="5"
							onclick="show_type_food(5)"/></a></li>
					<li><a href="javascript:void(0);"><img src="http://static.mama.cn/std/images/food/05.png" id="3"
							onclick="show_type_food(3)"/></a></li>
					<li><a href="javascript:void(0);"><img src="http://static.mama.cn/std/images/food/04.png" id="6"
							onclick="show_type_food(6)"/></a></li>
					<li><a href="javascript:void(0);"><img src="http://static.mama.cn/std/images/food/01.png" id="1"
							onclick="show_type_food(1)"/></a></li>
					<li><a href="javascript:void(0);"><img src="http://static.mama.cn/std/images/food/02.png" id="2"
							onclick="show_type_food(2)"/></a></li>
					<li><a href="javascript:void(0);"><img src="http://static.mama.cn/std/images/food/07.png" id="7"
							onclick="show_type_food(7)"/></a></li>
					<li><a href="javascript:void(0);"><img src="http://static.mama.cn/std/images/food/08.png" id="8"
							onclick="show_type_food(8)"/></a></li>
					<li><a href="javascript:void(0);"><img src="http://static.mama.cn/std/images/food/09.png" id="9"
							onclick="show_type_food(9)"/></a></li>
					<li><a href="javascript:void(0);"><img src="http://static.mama.cn/std/images/food/10.png" id="12"
							onclick="show_type_food(12)"/></a></li>
					<li><a href="javascript:void(0);"><img src="http://static.mama.cn/std/images/food/11.png" id="10"
							onclick="show_type_food(10)"/></a></li>
					<li><a href="javascript:void(0);"><img src="http://static.mama.cn/std/images/food/12.png" id="11"
							onclick="show_type_food(11)"/></a></li>
				</ul>

			</div>
		</div>
	</div>
</div>
<footer th:replace="nav_footer :: navFooter">nav footer</footer>
<script type="text/javascript">

</script>
</body>
</html>
