<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>衣</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="shortcut icon" href="../../resources/images/favicon.ico"
			th:href="@{/resources/images/favicon.ico}"/>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../../../resources/css/bootstrap.min.css"
			th:href="@{/resources/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../../resources/css/docs.min.css"
			th:href="@{/resources/css/docs.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../../resources/css/customer.css"
			th:href="@{/resources/css/customer.css}"/>

	<script type="text/javascript" src="../../../resources/js/jquery.min.js"
			th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="text/javascript" src="../../../resources/js/jquery.cookie.js"
			th:src="@{/resources/js/jquery.cookie.js}"></script>
	<script type="text/javascript" src="../../../resources/js/bootstrap.min.js"
			th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../../../resources/js/holder.min.js"
			th:src="@{/resources/js/holder.min.js}"></script>
</head>

<body>
<div th:replace="nav_header :: navHeader">nav header</div>
<div class="container">
	<div class="row">
		<blockquote class="text-error page-header">
			推荐菜谱
			<a href="#pre-pregnant"><span class="label label-default">备孕</span></a>
			<a href="#pregnant"><span class="label label-primary">怀孕</span></a>
			<a href="#deliver"><span class="label label-success">分娩</span></a>
			<a href="#confinement"><span class="label label-info">月子</span></a>
			<a href="#newborn"><span class="label label-warning">新生儿</span></a>
			<a href="#firstyear"><span class="label label-danger">宝贝一岁啦!</span></a>
		</blockquote>
	</div>

	<div class="row">
		<h4 id="pre-pregnant" class="page-header">备孕</h4>
		<div class="media col-sm-6 col-md-6 page-header">
			<div class="media-left">
				<a href="#">
					<img class="media-object img-rounded" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201512/20151221/174826_16999.jpg"
							style="width: 200px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">大圆脸看这里！一件高领衫=还你漂漂拳</h4></a>
				冬天就是这么碧池的季节，不吃会冷，一吃就胖，没有一丝丝防备，就跨入了大圆脸的队伍。特别是年末公司、家庭各种party聚会将至，没有巴掌脸和尖下巴怎么装逼呢！麻烦傲娇地往下看！
			</div>
		</div>
		<div class="media col-sm-6 col-md-6 page-header">
			<div class="media-left">
				<a href="#">
					<img class="media-object img-rounded" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201511/20151111/102812_72523.jpg"
							style="width: 200px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">Real搞人！你必须知道维秘家内衣的秘密</h4></a>
				好吧，bitch们，当你们在维秘内衣秀上大开party出尽风头的时候，有考虑过维秘店员的感受吗？她们内心吐槽无比的OS才是真正的“维多利亚的秘密”好吗？有点魅力的女人都需要知道几个维秘店员都不会告诉你的秘密。
			</div>
		</div>

		<div class="media col-sm-6 col-md-6 page-header">
			<div class="media-left">
				<a href="#">
					<img class="media-object img-rounded" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201512/20151207/140934_18711.jpg"
							style="width: 200px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">主要看体质！微胖小婊贝这样藏肉过冬</h4></a>
				主要看气质！看气质！但是胖纸哪儿来的气质！特别是到了冬季长膘的高发季节候，小肚子是不是又厚了起来？该如何拯救我们的微胖体质惹！还是先看看其他“心机小婊贝”们有什么显瘦穿搭大招吧。
			</div>
		</div>
	</div>

	<div class="row">
		<h3 id="pregnant" class="page-header">怀孕</h3>

		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object img-rounded" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201511/20151109/111013_60035.jpg"
							style="width: 200px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">不好“色”+性冷淡style=高级感</h4></a>
				冬季是一个让人变得冷静的季节，一切设计似乎都开始走起性冷淡style。各种不好“色”、直线条、极简、棉麻,虽然不是性冷淡style的极致,但是这种沉静的配色与设计实在是so
				easy就打造出冬季高big的高级感了！
			</div>
		</div>

		<h3 id="deliver" class="page-header">分娩</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object img-rounded" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201511/20151103/113717_53343.jpg"
							style="width: 200px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">大沿帽+机车服 我要穿麻麻的衣服！</h4></a>
				每个小孩纸都想穿麻麻的衣服，所以为了不坑娃自己一定要紧跟潮流脚步惹！仅仅只是自己优雅出挑还不够，时尚达人要从娃娃抓起，第一步就从自己的衣橱找灵感吧！
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object img-rounded" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201510/20151027/152335_5006.jpg"
							style="width: 200px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">别穿成了孩子奶奶！你得玩点“色诱”</h4></a>
				为了显白和显瘦，不要老是盯着奶奶灰和姨妈红，都快穿成孩子奶奶了！2015年的秋冬流行色都在这里呢，赶快过来瞅两眼有没心水的色儿吧！
			</div>
		</div>

		<h3 id="confinement" class="page-header">
			<a class="anchorjs-link " href="#media" aria-label="Anchor link for: media"
					data-anchorjs-icon=""
					style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>月子
		</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object img-rounded" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201510/20151023/120109_58173.jpg"
							style="width: 200px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">Hello Kitty卖萌抢钱啦！败家母女请矜持</h4></a>
				在卖萌抢钱这件事情上，今年41岁的无嘴喵Hello Kitty绝对是越战越勇，也许我们有生之年都很难看到它挣够钱然后金盆洗手了。因为如今她又要涉足时尚界，变身时尚ICON啦！大公举和小公举们请hold住！
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object img-rounded" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201510/20151021/115129_33067.jpg"
							style="width: 200px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">省钱！“裹毯子”抱娃的暖妈依然美cry</h4></a>
				自从生了娃以后，有没有觉得自己越来越穷？如果今年冬天不想剁手还想美美哒，就给自己添置一条“毯子”吧！就这么随便一披，出门上班接娃放学照样可以凹造型。
			</div>
		</div>

		<h3 id="newborn" class="page-header">新生儿</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object img-rounded" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201601/20160112/091316_63901_w200_h110.jpg"
							style="width: 200px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">花胶凤爪汤 皮肤Q起来</h4></a>
				孕期吃什么？胃口不好的时候吃什么？让宝宝健康的食物是什么？怀胎食月 将带给你不一样的孕期饮食。花胶沙参凤爪营养汤，多种药材珍品，让你的孕期美美哒！
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object img-rounded" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201510/20151012/132955_64376.jpg"
							style="width: 200px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">又怀孕了？只是穿错了一款秋冬针织裙</h4></a>
				有妈体会到这种酸爽吗？好不容易等到降温，美美地穿上今年最潮的针织裙，竟被周围的亲朋好友怀疑又怀孕了！怪我咯？垂坠贴合造就了针织裙勾勒身体曲线的天然优势，但是随之而来的就是穿不好容易“显胖”的雷区。然而其实，通过穿搭组合也是能很好解决各种显胖的问题哒，快来感受一下早秋针织裙又潮又显瘦魅力吧！
			</div>
		</div>

		<h3 id="firstyear" class="page-header">宝贝一岁啦!</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object img-rounded" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201509/20150929/121119_79176.jpg"
							style="width: 200px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">get√秋冬出街遛娃最潮的五款平底鞋</h4></a>
				想当年老娘也是脚踩恨天高，在人群间飞快穿行的女人啊，直到当上了妈妈时刻都要准备着奔跑在熊孩子的身后，自此也就爱上了平底鞋。千万不要觉得远离了高跟鞋就没有时尚、性感feel，如果挑对了平底鞋，分分钟比高跟鞋还性感！
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object img-rounded" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201508/20150827/153112_91082.jpg"
							style="width: 200px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">学明星穿亲子装 开学日“潮”起来</h4></a>
				又到开学季，熊孩子们又要回归校园了，家长们想想也是挺开心的。除了帮孩子准备各种开学资料，家长们也要开学拾掇自己了。你以为现在的开学只是孩子开学吗？你简直太天真了，家长不穿得好看点都不好意思去给孩子报名好嘛！这简直深藏功与名。今天小编推荐几款亲子装，让你和孩子成为开学日焦点。
			</div>
		</div>
	</div>
</div>

<div th:replace="nav_footer :: navFooter">nav footer</div>
</body>
</html>
