<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>行</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="shortcut icon" href="../../resources/images/favicon.ico"
			th:href="@{/resources/images/favicon.ico}"/>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../../../resources/css/bootstrap.min.css"
			th:href="@{/resources/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../../resources/css/docs.min.css"
			th:href="@{/resources/css/docs.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../../resources/css/customer.css"
			th:href="@{/resources/css/customer.css}"/>

	<script type="text/javascript" src="../../../resources/js/jquery.min.js"
			th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="text/javascript" src="../../../resources/js/jquery.cookie.js"
			th:src="@{/resources/js/jquery.cookie.js}"></script>
	<script type="text/javascript" src="../../../resources/js/bootstrap.min.js"
			th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../../../resources/js/holder.min.js"
			th:src="@{/resources/js/holder.min.js}"></script>
</head>

<body>
<div th:replace="nav_header :: navHeader">nav header</div>
<div class="container">
	<div class="row">
		<blockquote class="text-error page-header">
			推荐菜谱
			<a href="#pre-pregnant"><span class="label label-default">备孕</span></a>
			<a href="#pregnant"><span class="label label-primary">怀孕</span></a>
			<a href="#deliver"><span class="label label-success">分娩</span></a>
			<a href="#confinement"><span class="label label-info">月子</span></a>
			<a href="#newborn"><span class="label label-warning">新生儿</span></a>
			<a href="#firstyear"><span class="label label-danger">宝贝一岁啦!</span></a>
		</blockquote>
	</div>

	<div class="row">

		<h3 id="pre-pregnant" class="page-header">备孕</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://imgs.mama.cn/attachment/pic/all/20120925/1348553678_76050.jpg"
							style="width: 120px; height: 90px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">准妈妈自驾车出行注意事项</h4></a>
				一般来说，怀孕后开车对孕妇和胎儿的影响并不大。但如果长时间坐姿，对分娩却会有不良影响。同时，长时间保持坐姿，也会影响下肢的血液循环。
			</div>
		</div>

		<h3 id="pregnant" class="page-header">怀孕</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://imgs.mama.cn/attachment/pic/all/20140122/1390387455_6120.jpg"
							style="width: 120px; height: 90px"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">孕妈春节出行 乘坐4大交通工具安全指南</h4></a>
				相对于飞机，火车可能就要慢的多。飞机只要几个小时就能穿越整个国家，但火车可能需要几天。另外，相比飞机的服务，火车的服务就有些
				差了。如果你是短途旅行，选择硬座，你的后背和臀部会很不舒服。另外，火车没有安全带，如果发生事故，你就会有比较大的危险。如果你
				家离火车站很远，就需要特别早地赶去火车站，因为现在还没有机场大巴那样定点出发的火车大巴。另外，火车站没有方便的行李推车，你需
				要自己推拉行李。上车后，仍要自己安放行李。做这些事情的时候，你都需要特别的小心。
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://imgs.mama.cn/attachment/pic/all/20140122/1390386336_59017.jpg"
							style="width: 120px; height: 90px"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">孕中期准妈身体特点及出行注意事项</h4></a>
				　　怀孕4个月（13～16周），是胎儿大脑神经系统发育的高峰，绝大部分器官已经建立，心脏搏动更有力了，四肢开始活动。多数孕妈妈已经告别了早孕反应，身体舒适，食欲大开，情绪也日益稳定，此时可以适度地活动了。
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://imgs.mama.cn/attachment/pic/all/20120921/1348220662_28314.jpg"
							style="width: 120px; height: 90px"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">孕妈晕车怎么办？出行必带6大“神器”</h4></a>
				很多孕妇都会晕车，不知道能不能吃晕车药。孕妇吃晕车药，要看清楚晕车药上是不是写着孕妇禁用的，怀孕期间很多药物都是不可以吃的，里面的成分对胎儿会造成很大的影响，谨慎点比较好。
			</div>
		</div>


		<h3 id="deliver" class="page-header">分娩</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://imgs.mama.cn/attachment/pic/all/20130802/1375434807_51739.jpg"
							style="width: 120px; height: 90px"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">分娩时住在医院里应该注意些什么</h4></a>
				随着预产期的到来，许多孕妇最关心的一个问题是：需要多长时间才能把孩子生下来？产程的长短因人而异，由很多因素决定，具体是很难预计一个人分娩会持续多长时间的。
			</div>
		</div>

		<h3 id="confinement" class="page-header">月子</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src=""
							style="width: 120px; height: 90px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">花胶凤爪汤 皮肤Q起来</h4></a>
				孕期吃什么？胃口不好的时候吃什么？让宝宝健康的食物是什么？怀胎食月 将带给你不一样的孕期饮食。花胶沙参凤爪营养汤，多种药材珍品，让你的孕期美美哒！
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src=""
							style="width: 120px; height: 90px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">苦瓜鸡蛋泥消暑开胃</h4></a>
				炎热的夏季应该给宝宝吃些什么呢？消暑开胃的苦瓜鸡蛋泥就是一个不错的选择，苦瓜清热解暑，鸡蛋营养丰富，清凉的口感让宝宝胃口大开，元气upupup~下面就来看看麻麻微视频和吖咪合作推出的《辅食记》之苦瓜鸡蛋泥吧，轻松get美味辅食，还宝宝清凉一夏！
			</div>
		</div>

		<h3 id="newborn" class="page-header">新生儿</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201601/20160112/091316_63901_w200_h110.jpg"
							style="width: 120px; height: 90px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">孩子到陌生环境爱哭闹怎么回事？</h4></a>
				儿子6个半月，平时由我一个人带，每周带他下楼玩一两次，每次1小时左右。上周带他去我弟弟那儿，他老是哭闹不已，一直要我抱着。请问专家：这是由于我带孩子出门玩的次数太少吗？我看过一些关于早教方面的书籍，说是1.5~2岁是培养宝宝社交能力的黄金时期，现在宝宝是社交能力不强的表现吗？应该注意些什么呢？
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://imgs.mama.cn/attachment/pic/all/20130106/1357452996_28962.png"
							style="width: 120px; height: 90px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">妈妈经验 让宝宝乖乖分床睡</h4></a>
				跟小孩分床睡，这问题看似很小，但确实让不少父母伤透脑筋。该不该跟宝宝分床睡以及何时开始分床睡，应具体问题具体分析。
			</div>
		</div>

		<h3 id="firstyear" class="page-header">宝贝一岁啦!</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src=""
							style="width: 120px; height:90px"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">宝宝户外出行需必备物品</h4></a>
				宝宝和成人一样，喜欢变换的风景。他们喜欢清闲的空气、移动的树、蓝天或者天空飘着的云彩，还有流水、青草和花朵的香味。
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://imgs.mama.cn/attachment/pic/all/20121108/1352371434_36149.jpg"
							style="width: 120px; height: 90px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">节日出行宝典</h4></a>
				在喜庆的时候提这种话，真是该掌嘴。俗话说，谨慎小心一万次也不多，麻痹大意只要有一次也太多。说不定就是你一时的麻痹大意，造成了一辈子的遗憾。下面小编为大家送上节日出行宝典，一起来看看吧。
			</div>
		</div>
	</div>
</div>
<div th:replace="nav_footer :: navFooter">nav footer</div>
</body>
</html>
