<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>食</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<link rel="shortcut icon" href="../../resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../../../resources/css/bootstrap.min.css"
			th:href="@{/resources/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../../resources/css/docs.min.css"
			th:href="@{/resources/css/docs.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../../resources/css/customer.css"
			th:href="@{/resources/css/customer.css}"/>

	<script type="text/javascript" src="../../../resources/js/jquery.min.js"
			th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="text/javascript" src="../../../resources/js/jquery.cookie.js"
			th:src="@{/resources/js/jquery.cookie.js}"></script>
	<script type="text/javascript" src="../../../resources/js/bootstrap.min.js"
			th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../../../resources/js/holder.min.js"
			th:src="@{/resources/js/holder.min.js}"></script>
</head>

<body>
<div th:replace="nav_header :: navHeader">nav header</div>
<div class="container">
	<div class="row">
		<blockquote class="text-error page-header">
			推荐菜谱
			<a href="#pre-pregnant"><span class="label label-default">备孕</span></a>
			<a href="#pregnant"><span class="label label-primary">怀孕</span></a>
			<a href="#deliver"><span class="label label-success">分娩</span></a>
			<a href="#confinement"><span class="label label-info">月子</span></a>
			<a href="#newborn"><span class="label label-warning">新生儿</span></a>
			<a href="#firstyear"><span class="label label-danger">宝贝一岁啦!</span></a>
		</blockquote>
	</div>


	<div class="row">

		<h3 id="pre-pregnant" class="page-header">
			<a class="anchorjs-link " href="#media" aria-label="Anchor link for: media" data-anchorjs-icon=""
					style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>备孕
		</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201601/20160112/091316_63901_w200_h110.jpg"
							style="width: 64px; height: 64px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">花胶凤爪汤 皮肤Q起来</h4></a>
				孕期吃什么？胃口不好的时候吃什么？让宝宝健康的食物是什么？怀胎食月 将带给你不一样的孕期饮食。花胶沙参凤爪营养汤，多种药材珍品，让你的孕期美美哒！
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201509/20150917/092934_44590_w180_h180.jpg"
							style="width: 64px; height: 64px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">苦瓜鸡蛋泥消暑开胃</h4></a>
				炎热的夏季应该给宝宝吃些什么呢？消暑开胃的苦瓜鸡蛋泥就是一个不错的选择，苦瓜清热解暑，鸡蛋营养丰富，清凉的口感让宝宝胃口大开，元气upupup~下面就来看看麻麻微视频和吖咪合作推出的《辅食记》之苦瓜鸡蛋泥吧，轻松get美味辅食，还宝宝清凉一夏！
			</div>
		</div>

		<h3 id="pregnant" class="page-header">
			<a class="anchorjs-link " href="#media" aria-label="Anchor link for: media" data-anchorjs-icon=""
					style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>怀孕
		</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201601/20160112/091316_63901_w200_h110.jpg"
							style="width: 64px; height: 64px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">花胶凤爪汤 皮肤Q起来</h4></a>
				孕期吃什么？胃口不好的时候吃什么？让宝宝健康的食物是什么？怀胎食月 将带给你不一样的孕期饮食。花胶沙参凤爪营养汤，多种药材珍品，让你的孕期美美哒！
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201509/20150917/092934_44590_w180_h180.jpg"
							style="width: 64px; height: 64px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">苦瓜鸡蛋泥消暑开胃</h4></a>
				炎热的夏季应该给宝宝吃些什么呢？消暑开胃的苦瓜鸡蛋泥就是一个不错的选择，苦瓜清热解暑，鸡蛋营养丰富，清凉的口感让宝宝胃口大开，元气upupup~下面就来看看麻麻微视频和吖咪合作推出的《辅食记》之苦瓜鸡蛋泥吧，轻松get美味辅食，还宝宝清凉一夏！
			</div>
		</div>

		<h3 id="deliver" class="page-header">
			<a class="anchorjs-link " href="#media" aria-label="Anchor link for: media" data-anchorjs-icon=""
					style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>分娩
		</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201601/20160112/091316_63901_w200_h110.jpg"
							style="width: 64px; height: 64px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">花胶凤爪汤 皮肤Q起来</h4></a>
				孕期吃什么？胃口不好的时候吃什么？让宝宝健康的食物是什么？怀胎食月 将带给你不一样的孕期饮食。花胶沙参凤爪营养汤，多种药材珍品，让你的孕期美美哒！
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201509/20150917/092934_44590_w180_h180.jpg"
							style="width: 64px; height: 64px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">苦瓜鸡蛋泥消暑开胃</h4></a>
				炎热的夏季应该给宝宝吃些什么呢？消暑开胃的苦瓜鸡蛋泥就是一个不错的选择，苦瓜清热解暑，鸡蛋营养丰富，清凉的口感让宝宝胃口大开，元气upupup~下面就来看看麻麻微视频和吖咪合作推出的《辅食记》之苦瓜鸡蛋泥吧，轻松get美味辅食，还宝宝清凉一夏！
			</div>
		</div>

		<h3 id="confinement" class="page-header">
			<a class="anchorjs-link " href="#media" aria-label="Anchor link for: media" data-anchorjs-icon=""
					style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>月子
		</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201601/20160112/091316_63901_w200_h110.jpg"
							style="width: 64px; height: 64px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">花胶凤爪汤 皮肤Q起来</h4></a>
				孕期吃什么？胃口不好的时候吃什么？让宝宝健康的食物是什么？怀胎食月 将带给你不一样的孕期饮食。花胶沙参凤爪营养汤，多种药材珍品，让你的孕期美美哒！
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201509/20150917/092934_44590_w180_h180.jpg"
							style="width: 64px; height: 64px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">苦瓜鸡蛋泥消暑开胃</h4></a>
				炎热的夏季应该给宝宝吃些什么呢？消暑开胃的苦瓜鸡蛋泥就是一个不错的选择，苦瓜清热解暑，鸡蛋营养丰富，清凉的口感让宝宝胃口大开，元气upupup~下面就来看看麻麻微视频和吖咪合作推出的《辅食记》之苦瓜鸡蛋泥吧，轻松get美味辅食，还宝宝清凉一夏！
			</div>
		</div>

		<h3 id="newborn" class="page-header">
			<a class="anchorjs-link " href="#media" aria-label="Anchor link for: media" data-anchorjs-icon=""
					style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>新生儿
		</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201601/20160112/091316_63901_w200_h110.jpg"
							style="width: 64px; height: 64px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">花胶凤爪汤 皮肤Q起来</h4></a>
				孕期吃什么？胃口不好的时候吃什么？让宝宝健康的食物是什么？怀胎食月 将带给你不一样的孕期饮食。花胶沙参凤爪营养汤，多种药材珍品，让你的孕期美美哒！
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201509/20150917/092934_44590_w180_h180.jpg"
							style="width: 64px; height: 64px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">苦瓜鸡蛋泥消暑开胃</h4></a>
				炎热的夏季应该给宝宝吃些什么呢？消暑开胃的苦瓜鸡蛋泥就是一个不错的选择，苦瓜清热解暑，鸡蛋营养丰富，清凉的口感让宝宝胃口大开，元气upupup~下面就来看看麻麻微视频和吖咪合作推出的《辅食记》之苦瓜鸡蛋泥吧，轻松get美味辅食，还宝宝清凉一夏！
			</div>
		</div>

		<h3 id="firstyear" class="page-header">
			<a class="anchorjs-link " href="#media" aria-label="Anchor link for: media" data-anchorjs-icon=""
					style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>宝贝一岁啦!
		</h3>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201601/20160112/091316_63901_w200_h110.jpg"
							style="width: 64px; height: 64px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">花胶凤爪汤 皮肤Q起来</h4></a>
				孕期吃什么？胃口不好的时候吃什么？让宝宝健康的食物是什么？怀胎食月 将带给你不一样的孕期饮食。花胶沙参凤爪营养汤，多种药材珍品，让你的孕期美美哒！
			</div>
		</div>
		<div class="media" style="padding: 5px">
			<div class="media-left">
				<a href="#">
					<img class="media-object" data-holder-rendered="true"
							src="http://pics.mama.cn/attachment/mamacn/images/201509/20150917/092934_44590_w180_h180.jpg"
							style="width: 64px; height: 64px;"/>
				</a>
			</div>
			<div class="media-body">
				<a><h4 class="media-heading">苦瓜鸡蛋泥消暑开胃</h4></a>
				炎热的夏季应该给宝宝吃些什么呢？消暑开胃的苦瓜鸡蛋泥就是一个不错的选择，苦瓜清热解暑，鸡蛋营养丰富，清凉的口感让宝宝胃口大开，元气upupup~下面就来看看麻麻微视频和吖咪合作推出的《辅食记》之苦瓜鸡蛋泥吧，轻松get美味辅食，还宝宝清凉一夏！
			</div>
		</div>
	</div>

	<nav align="right">
		<ul class="pagination">
			<li>
				<a href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li>
				<a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
<div th:replace="nav_footer :: navFooter">nav footer</div>
</body>
</html>
